<template>
  <div class="container">
    <Breadcrumb overlayShow />
    <a-card title="npm常用命令" class="mb_2" :hoverable="true"> npm常用命令 </a-card>
  </div>
</template>

<script setup>
import Breadcrumb from '@/components/Breadcrumb.vue'
</script>

<style scoped lang="scss"></style>
