//  color palette from <https://github.com/vuejs/theme>
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

//  semantic color variables for this project
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #0000004d;
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
}

body {
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}

.clearfix {
  zoom: 1;
}

img {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// 文字弹窗
.adriftText {
  position: fixed;
  pointer-events: none;
  user-select: none;
  z-index: 6000;
  white-space: nowrap;
}

// 错误页面
.errorResult {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 文字隐藏
.textFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @mixin textFlow($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }

  &_2 {
    @include textFlow(2);
  }

  &_3 {
    @include textFlow(3);
  }
}

.ant-image-preview-content {
  height: 100vh;
}

.m {
  &_,
  &t_,
  &y_ {
    &0 {
      margin-top: 0 !important;
    }

    &1 {
      margin-top: 0.25rem !important;
    }

    &2 {
      margin-top: 0.5rem !important;
    }

    &3 {
      margin-top: 0.75rem !important;
    }

    &4 {
      margin-top: 1rem !important;
    }
  }

  &_,
  &l_,
  &x_ {
    &0 {
      margin-left: 0 !important;
    }

    &1 {
      margin-left: 0.25rem !important;
    }

    &2 {
      margin-left: 0.5rem !important;
    }

    &3 {
      margin-left: 0.75rem !important;
    }

    &4 {
      margin-left: 1rem !important;
    }
  }

  &_,
  &r_,
  &x_ {
    &0 {
      margin-right: 0 !important;
    }

    &1 {
      margin-right: 0.25rem !important;
    }

    &2 {
      margin-right: 0.5rem !important;
    }

    &3 {
      margin-right: 0.75rem !important;
    }

    &4 {
      margin-right: 1rem !important;
    }
  }

  &_,
  &b_,
  &y_ {
    &0 {
      margin-bottom: 0 !important;
    }

    &1 {
      margin-bottom: 0.25rem !important;
    }

    &2 {
      margin-bottom: 0.5rem !important;
    }

    &3 {
      margin-bottom: 0.75rem !important;
    }

    &4 {
      margin-bottom: 1rem !important;
    }
  }
}

.p {
  &_,
  &t_,
  &y_ {
    &0 {
      padding-top: 0 !important;
    }

    &1 {
      padding-top: 0.25rem !important;
    }

    &2 {
      padding-top: 0.5rem !important;
    }

    &3 {
      padding-top: 0.75rem !important;
    }

    &4 {
      padding-top: 1rem !important;
    }
  }

  &_,
  &l_,
  &x_ {
    &0 {
      padding-left: 0 !important;
    }

    &1 {
      padding-left: 0.25rem !important;
    }

    &2 {
      padding-left: 0.5rem !important;
    }

    &3 {
      padding-left: 0.75rem !important;
    }

    &4 {
      padding-left: 1rem !important;
    }
  }

  &_,
  &r_,
  &x_ {
    &0 {
      padding-right: 0 !important;
    }

    &1 {
      padding-right: 0.25rem !important;
    }

    &2 {
      padding-right: 0.5rem !important;
    }

    &3 {
      padding-right: 0.75rem !important;
    }

    &4 {
      padding-right: 1rem !important;
    }
  }

  &_,
  &b_,
  &y_ {
    &0 {
      padding-bottom: 0 !important;
    }

    &1 {
      padding-bottom: 0.25rem !important;
    }

    &2 {
      padding-bottom: 0.5rem !important;
    }

    &3 {
      padding-bottom: 0.75rem !important;
    }

    &4 {
      padding-bottom: 1rem !important;
    }
  }
}

.h {
  &_auto {
    height: auto;
    line-height: unset;
  }
  &_100 {
    height: 100%;
  }
}

.w {
  &_100 {
    width: 100%;
  }
}

.fs_ {
  &16 {
    font-size: 16px !important;
  }

  &24 {
    font-size: 24px !important;
  }
}

.flow_ {
  &hidden {
    overflow: hidden;
  }

  &unset {
    overflow: unset;
  }
}

.inline {
  display: inline !important;

  &_block {
    display: inline-block !important;
  }

  &_flex {
    display: inline-flex !important;
  }
}

.block {
  display: block !important;
}

.contents {
  display: contents !important;
}

.list-item {
  display: list-item !important;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex !important;
}

.flex,
.inline_flex {
  &.nowrap {
    flex-wrap: nowrap !important;
  }

  &.wrap {
    flex-wrap: wrap !important;
  }

  &.vertical {
    flex-direction: column !important;
  }

  &::after,
  &::before {
    display: none !important;
  }

  &.center {
    justify-content: center !important;
    align-items: center !important;
  }

  &.content_ {
    &start {
      justify-content: flex-start !important;
    }

    &center {
      justify-content: center !important;
    }

    &end {
      justify-content: flex-end !important;
    }

    &between {
      justify-content: space-between !important;
    }

    &around {
      justify-content: space-around !important;
    }
  }

  &.items_ {
    &start {
      align-items: flex-start !important;
    }

    &center {
      align-items: center !important;
    }

    &end {
      align-items: flex-end !important;
    }
  }

  &.gap_ {
    &1 {
      gap: 0.25rem;
    }

    &2 {
      gap: 0.5rem;
    }
  }
}

.scroll {
  %scroll {
    text-wrap: nowrap;
    flex-wrap: nowrap;
    display: block;
  }

  &_x {
    @extend %scroll;
    overflow-x: auto !important;
    overflow-y: hidden !important;

    &.show {
      overflow-x: scroll !important;
    }
  }

  &_y {
    @extend %scroll;
    overflow-x: hidden !important;
    overflow-y: auto !important;

    &.show {
      overflow-y: scroll !important;
    }
  }

  &_auto {
    overflow: auto !important;
  }
}

.grow {
  flex-grow: 1;
}

.float {
  &,
  &_left {
    float: left;
  }

  &_right {
    float: right;
  }
}

.text_ {
  &wrap {
    text-wrap: wrap;
  }

  &no_wrap {
    text-wrap: nowrap;
  }

  &center {
    text-align: center;
  }

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }

  &indent {
    text-indent: 1.5rem;
  }

  &12 {
    font-size: 12px;
  }

  &13 {
    font-size: 13px;
  }

  &14 {
    font-size: 14px;
  }

  &20 {
    font-size: 20px;
  }

  &sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &xxl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &danger {
    color: var(--el-color-danger);
  }
}

.font_ {
  &300 {
    font-weight: 300;
  }

  &400 {
    font-weight: 400;
  }

  &600 {
    font-weight: 600;
  }

  &bold {
    font-weight: 700;
  }
}

.cursor_ {
  &unset {
    cursor: unset !important;
  }

  &pointer {
    cursor: pointer !important;
  }
}

.border_ {
  &all,
  &t {
    border-top: 1px solid var(--el-border-color);
  }

  &all,
  &r {
    border-right: 1px solid var(--el-border-color);
  }

  &all,
  &l {
    border-left: 1px solid var(--el-border-color);
  }

  &all,
  &b {
    border-bottom: 1px solid var(--el-border-color);
  }
}
